{
    extends: "eslint:recommended",
    parserOptions: {
        ecmaVersion: 2017,
        sourceType: "module",
    },
    env: {
        es6: true,
        browser: true,
        jquery: true,
        greasemonkey: true,
    },
    rules: {
        "no-console": "off",
        "no-debugger": "off",
        "no-unused-vars": ["error", { "args": "none" }],
    }
}
