.ex-fixed {
    position: fixed;
}

.ex-panel-container {
    display: flex;
    min-height: 100vh;

    .ex-panel {
        flex: 0 0 auto;
        overflow: hidden;
    }

    .ex-content-panel {
        flex: 1 1;
        margin-left: 0px !important;
    }

    #ex-preview-panel {
        width: 0;
        overflow: hidden;

        & > div {
            display: flex;
            overflow-y: auto;
        }

        & > div > article {
            width: auto;
            height: auto;
            margin: auto;
        }
    }

    .ex-vertical-resizer {
        cursor: col-resize;
        flex: 0 0 1px;
        border: 0.5em solid white;
        background: hsla(0, 0%, 93%, 1);
        transition: background 0.125s;

        &:hover {
            background: hsla(0, 0%, 80%, 1);
            transition: background 0.125s;
        }
    }
}
