.qtip {
    max-width:  none;
    max-height: none;
    border-width: 2px;

    .ex-post-excerpt {
        .ex-post-excerpt-body {
            display: flex;
            flex-direction: row;
            max-width: 600px;
        }

        .ex-post-excerpt-preview {
            width: auto;
            height: auto;
            margin: 0;
            overflow: visible;

            .post-media {
                max-width:  450px;
                max-height: 450px;
                height: auto;
                box-sizing: border-box;
            }
        }
    }
}
