@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.ex-vertical-resizer {
  cursor: col-resize;
  width: 1px;
  border: 0.5em solid white;
  background: hsla(0, 0%, 95%, 1);
  transition: background 0.125s;
}

.ex-vertical-resizer:hover {
  background: hsla(0, 0%, 80%, 1);
  transition: background 0.125s;
}

.ex-panel {
  overflow: hidden;
}

.ex-preview-panel-container {
  display: flex;
  min-height: 100vh;
}

#ex-preview-panel {
  width: 0;
  overflow: hidden;
}

#ex-preview-panel > div {
  display: flex;
  overflow-y: scroll;
}

#ex-preview-panel > div > article {
  width: auto;
  height: auto;
  margin: auto;
}

#ex-preview-panel > div > article.post-preview img {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

#ex-preview-panel .ex-fixed {
  position: fixed;
}

.ex-content-panel {
  flex: 1;
  margin-left: 0px !important;
}

#ex-header {
    display: flex;
    position: absolute;
    top: 0;
    padding-top: 5px;
    width: 100%;
    z-index: 100;
    background: white;
    border-bottom: 1px solid #EEE;
}

#ex-header.ex-fixed {
    position: fixed;
}

#ex-header h1 {
    display: inline-block;
    font-size: 2.5em;
    margin: 0 30px;
}

#ex-header .ex-search-box {
    margin: auto;
    display: flex;
    flex: 0 1 30%;
}

#ex-header .ex-search-box input[name="tags"] {
    flex: 0 1 100%;
}

#ex-header .ex-search-box input[type="submit"] {
    flex: 1;
    margin: auto 1em;
}

#ex-header .ex-mode-menu {
    margin: auto;
    flex: 1 2 70%;
}

#ex-header .ex-mode-menu .ex-tag-script-controls {
    display: inline-block;
    margin: auto;
}

#ex-header .ex-mode-menu label {
    font-weight: bold;
    cursor: auto;
}

#ex-header .ex-header-close {
    margin: auto;
    margin-right: 30px;
    color: #0073ff;
    cursor: pointer;
}

/* http://fontawesome.io/icon/times-circle/ */
#ex-header.ex-fixed .ex-header-close .fa::before {
    content: "\f057";
}

/* http://fontawesome.io/icon/thumb-tack/ */
#ex-header.ex-static .ex-header-close .fa::before {
    content: "\f08d";
}

@media (max-width: 1280px) {
    #ex-header h1,
    header#top h1 {
        font-size: 1.5em;
    }

    #ex-header .ex-mode-menu label {
        display: none;
    }
}

/* Overrides for Danbooru's responsive layout */
@media screen and (max-width: 660px) {
    body {
        overflow-x: hidden;
    }

    #ex-header input {
        font-size: 1em;
    }

    #ex-header {
        text-align: initial;
        line-height: initial;
    }

    #nav {
        display: block;
        float: none;
        font-size: 1em;
    }

    header#top menu {
        width: initial;
    }

    header#top menu li a {
        padding: 6px 5px;
    }

    .ex-preview-panel-container {
        display: block;
        min-height: initial;
    }

    #sidebar,
    #ex-sidebar-resizer,
    #ex-preview-panel-resizer,
    #ex-preview-panel {
        display: none !important;
    }
}

#notice {
    top: 4.5em !important;
}

/* Fit posts to screen width. */
#image {
    max-width: 100%;
    height: auto;
}

/*
 * Make the parent/child thumbnail container scroll vertically, not horizontally, to prevent
 * blowing out the page width.
 */
#has-parent-relationship-preview {
    height: 164px;
    overflow: auto;
    white-space: initial;
}

.ex-artists {
  white-space: nowrap;
}

.ex-artist .ex-artist-id {
  width: 10%;
}

.ex-artist .ex-artist-other-names {
  width: 100%;
  white-space: normal;
}

#c-artists #sidebar label {
  display: block;
  font-weight: bold;
  padding: 4px 0 4px 0;
  width: auto;
  cursor: auto;
}

#c-artists #sidebar input[type="text"] {
  width: 100% !important;
}

#c-artists #sidebar button[type="submit"] {
  display: block;
  margin: 4px 0 4px 0;
}

#c-artists #sidebar h2 {
  font-size: 1em;
  display: inline-block;
  margin: 0.75em 0 0.25em 0;
}

#c-users #a-edit #ex-settings-section label {
  display: inline-block;
}

#wiki-page-body h1, #wiki-page-body h2, #wiki-page-body h3,
#wiki-page-body h4, #wiki-page-body h5, #wiki-page-body h6 {
    /* display: flex; */
    /* align-items: center; */
    padding-top: 52px;
    margin-top: -52px;
}

#wiki-page-body a.ui-icon.collapsible-header {
    display: inline-block;
    margin-left: -8px;
}

body.mode-tag-script {
    background-color: white;
}

body.mode-tag-script #ex-header {
    border-bottom: 2px solid #D6D;
}

body.mode-preview #ex-header {
    border-bottom: 2px solid #0073ff;
}

body.mode-view #ex-preview-panel-resizer {
    display: none;
}

/* Highlight thumbnails in grey when hovering in preview or tag script mode. */
body.mode-preview article.post-preview:hover,
body.mode-preview #c-moderator-post-queues .post-preview aside:hover,
body.mode-preview #c-comments .post-preview .preview:hover,
body.mode-tag-script article.post-preview:hover,
body.mode-tag-script #c-moderator-post-queues .post-preview aside:hover,
body.mode-tag-script #c-comments .post-preview .preview:hover {
    background: #EEEEEE;
}

body.mode-tag-script article.post-preview.ui-selected,
body.mode-tag-script #c-moderator-post-queues .post-preview aside.ui-selected,
body.mode-tag-script #c-comments .post-preview .preview.ui-selected {
    background: lightblue;
}

body.mode-tag-script article.post-preview.ui-selected {
    padding: 0 10px 10px 0;
    margin: 0;
}

.ui-selectable {
    -ms-touch-action: none;
    touch-action: none;
}

.ui-selectable-helper {
    position: absolute;
    z-index: 100;
    border: 1px dotted black;
}

.ui-tooltip {
    padding:   8px;
    position:  absolute;
    z-index:   9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
}

.ui-tooltip,
.ui-tooltip .ex-thumbnail-tooltip img {
  max-width:  450px !important;
  max-height: 450px !important;
}

body .ui-tooltip {
    border-width: 2px;
}

.ui-tooltip .post-preview {
  width: auto;
  height: auto;
}

.ex-short-relative-time {
  color: #CCC;
  margin-left: 0.2em;
}

.tag-post-count-empty {
  border-bottom: 1px dotted;
}

.tag-dne {
  border-bottom: 1px dotted;
}

.tag-list-header h1, .tag-list-header h2 {
    display: inline-block;
}

.tag-list-header .post-count {
    margin-left: 0.5em;
}

/* Ensure colorized tags are still hidden. */
.spoiler:hover a.tag-type-1 {
    color: #A00;
}

.spoiler:hover a.tag-type-3 {
    color: #A0A;
}

.spoiler:hover a.tag-type-4 {
    color: #0A0;
}

.spoiler:not(:hover) a {
    color: black !important;
}
