.ex-artists {
  white-space: nowrap;
}

.ex-artist .ex-artist-id {
  width: 10%;
}

.ex-artist .ex-artist-other-names {
  width: 100%;
  white-space: normal;
}

.ui-tooltip,
.ui-tooltip .ex-thumbnail-tooltip img {
  max-width:  450px !important;
  max-height: 450px !important;
}

.ui-tooltip .post-preview {
  width: auto;
  height: auto;
}

#c-artists #sidebar label {
  pointer: auto;
  display: block;
  font-weight: bold;
  padding: 4px 0 4px 0;
  width: auto;
  cursor: auto;
}

#c-artists #sidebar input[type="text"] {
  width: 100% !important;
}

#c-artists #sidebar button[type="submit"] {
  display: block;
  margin: 4px 0 4px 0;
}

#c-artists #sidebar h2 {
  font-size: 1em;
  display: inline-block;
  margin: 0.75em 0 0.25em 0;
}

.ex-short-relative-time {
  color: #CCC;
  margin-left: 0.2em;
}

.tag-post-count-empty {
  border-bottom: 1px dotted;
}

.tag-dne {
  border-bottom: 1px dotted;
}

}

a.with-style[data-can-upload-free="false"][data-can-approve-posts="true"] {
    text-decoration: underline;
}

a.with-style[data-is-banned="true"] {
    color: black;
    text-decoration: underline;
}

.tag-list-header h1, .tag-list-header h2 {
    display: inline-block;
}

.tag-list-header .post-count {
    margin-left: 0.5em;
}

/* Ensure colorized tags are still hidden. */
.spoiler:hover a.tag-type-1 {
    color: #A00;
}

.spoiler:hover a.tag-type-3 {
    color: #A0A;
}

.spoiler:hover a.tag-type-4 {
    color: #0A0;
}

.spoiler:not(:hover) a {
    color: black !important;
}

#sticky-header {
    position: fixed;
    display: flex;
    width: 100%;
    background: white;
    z-index: 100;
    border-bottom: 1px solid #EEE;
}

#sticky-header h1 {
    display: inline-block;
    font-size: 2.5em;
    margin: 0 30px;
    //padding: 42px 0px 0px 0px;
}

#sticky-header #search-box {
    display: inline-block;
    margin: auto 30px;
}

#sticky-header #search-box #tags {
    width: 640px;
}

#sticky-header #mode-box {
    margin: auto 30px;
}

#sticky-header #mode-box form {
    display: inline-block;
}

#sticky-header #mode-box form #tag-script-field {
    margin-top: 0;
}


#notice {
    top: 4.5em !important;
}

#top {
    padding-top: 52px;
}

#top h1 {
    display: none;
}



#wiki-page-body h1, #wiki-page-body h2, #wiki-page-body h3,
#wiki-page-body h4, #wiki-page-body h5, #wiki-page-body h6 {
    //display: flex;
    //align-items: center;
    padding-top: 52px;
    margin-top: -52px;
}

#wiki-page-body a.ui-icon.collapsible-header {
    display: inline-block;
    margin-left: -8px;
}



.ui-selected {
    background: lightblue;
}

.ui-selectable {
    -ms-touch-action: none;
    touch-action: none;
}

.ui-selectable-helper {
    position: absolute;
    z-index: 100;
    border: 1px dotted black;
}

.ui-tooltip {
    padding:   8px;
    position:  absolute;
    z-index:   9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
}

body .ui-tooltip {
    border-width: 2px;
}

/*
.user-member::before, .user-gold::before,
.user-platinum::before, .user-builder::before,
.user-janitor::before, .user-moderator::before,
.user-admin::before {
    content: '@';
    color: grey;
}
*/

/*
.paginator {
    clear: none !important;
}
*/
