#ex-header {
    position: absolute;
    top: 0;
    padding: 5px 0;
    width: 100%;
    z-index: 100;
    background: white;
    border-bottom: 1px solid white;

    .ex-header-wrapper {
      display: flex;

      &.ex-fixed.ex-header-scrolled {
          border-bottom: 1px solid $dim-border-color;
          box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
      }

      h1 {
          display: inline-block;
          font-size: 2.5em;
          margin: 0 30px;
      }

      .ex-search-box {
          margin: auto;
          display: flex;
          flex: 0 1 30%;

          input#ex-tags {
              flex: 0 1 100%;
          }

          input[type="submit"] {
              flex: 1;
              margin: auto 1em;
          }
      }

      .ex-mode-menu {
          margin: auto;
          flex: 1 2 70%;

          .ex-tag-script-controls {
              display: inline-block;
              margin: auto;
          }

          label {
              font-weight: bold;
              cursor: auto;

              @media (max-width: 1280px) {
                  display: none;
              }
          }
      }

      .ex-header-close {
          margin: auto;
          margin-right: 30px;
          color: #0073ff;
          cursor: pointer;
      }
    }
}

@media (max-width: 1280px) {
    header h1 { font-size: 1.5em !important; }
}

h1.ex-small-header { font-size: 1.5em !important; }

/* Fix sidebar search box from rendering on top of EX header bar. */
#page #sidebar input[type="text"] {
  z-index: 10 !important;
}
