$metadata-height: 9.95em;
$font-size: 0.85714em; // 12px
// $font-size: 0.928575em; // 13px

@mixin thin-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: #999999;
    border: 0px none #FFFFFF;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #AAAAAA;
  }

  &::-webkit-scrollbar-thumb:active {
    background: #AAAAAA;
  }

  &::-webkit-scrollbar-track {
    background: #EEEEEE;
    border: 0px none #ffffff;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-track:hover {
    background: #EEEEEE;
  }

  &::-webkit-scrollbar-track:active {
    background: #EEEEEE;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.ex-panel-container {
    display: flex;
    min-height: 100vh;

    .ex-panel {
        flex: 0 0 auto;
        overflow: auto;
        align-self: start;
    }

    .ex-content-panel {
        flex: 1 1;
        margin-left: 0px !important;
    }

    #ex-preview-panel {
        @include thin-scrollbar;

        position: sticky;
        top: 3em;
        max-height: calc(100vh - 127px);
        overflow-y: auto;
        overflow-x: hidden;
        overscroll-behavior-y: contain;

        .ex-no-image-selected {
            text-align: center;
            margin-top: 2em;
        }

        .ex-preview-panel-post {
            font-size: $font-size;
            line-height: 1.2em;
            margin: 0 1em;

            .ex-preview-panel-post-metadata {
                @include thin-scrollbar;
                max-height: $metadata-height;
                margin-bottom: 1em;

                overflow-y: auto;

                .ex-preview-panel-post-title {
                    .fav-count {
                        margin-right: 0.25em;
                    }

                    .post-info {
                        margin-right: 1em;
                        color: $dim-text;
                        white-space: nowrap;

                        h1 {
                            color: #000;
                            display: inline;
                            font-size: 1em;
                            margin-right: 0.25em;
                        }
                    }
                }
            }

            .ex-preview-panel-post-body {
                display: flex;
                flex-direction: column;

                article.post-preview {
                    width: auto;
                    // height: calc(90vh - 127px);
                    height: auto;
                    margin: auto;
                    justify-content: center;

                    img {
                        object-fit: scale-down;
                        max-width: 100%;
                        max-height: calc(90vh - 127px); // XXX
                    }
                }
            }
        }
    }

    .ex-vertical-resizer {
        cursor: col-resize;
        flex: 0 0 1px;
        border: 0.5em solid white;
        background: hsla(0, 0%, 93%, 1);
        transition: background 0.125s;

        &:hover {
            background: hsla(0, 0%, 80%, 1);
            transition: background 0.125s;
        }
    }
}
