$metadata-height: 8em;
$max-tags: 30;

@mixin thin-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: #999999;
    border: 0px none #FFFFFF;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #AAAAAA;
  }

  &::-webkit-scrollbar-thumb:active {
    background: #AAAAAA;
  }

  &::-webkit-scrollbar-track {
    background: #EEEEEE;
    border: 0px none #ffffff;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-track:hover {
    background: #EEEEEE;
  }

  &::-webkit-scrollbar-track:active {
    background: #EEEEEE;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.ex-panel-container {
    display: flex;
    min-height: 100vh;

    .ex-panel {
        flex: 0 0 auto;
        overflow: hidden;
    }

    .ex-content-panel {
        flex: 1 1;
        margin-left: 0px !important;
    }

    #ex-preview-panel {
        font-size: 0.928575em; // 13px
        line-height: 1.2em;
        width: 0;
        overflow: hidden;

        #ex-preview-panel-container {
            overflow-y: hidden;

            .ex-no-image-selected {
                text-align: center;
                margin-top: 2em;
            }

            .ex-preview-panel-post-metadata {
                max-height: $metadata-height;
                margin: 0em 2em 1em;

                overflow-y: auto;
                @include thin-scrollbar;

                .ex-preview-panel-post-title {
                    .fav-count {
                        margin-right: 0.25em;
                    }

                    .post-info {
                        margin-right: 1em;
                        color: $dim-text;
                        white-space: nowrap;

                        h1 {
                            color: #000;
                            display: inline;
                            font-size: 1em;
                            margin-right: 0.25em;
                        }
                    }
                }
            }

            .ex-preview-panel-post-body {
                display: flex;
                flex-direction: column;

                article {
                    width: auto;
                    height: calc(92vh - 127px);
                    margin: auto;
                    justify-content: center;
                }
            }
        }
    }

    .ex-vertical-resizer {
        cursor: col-resize;
        flex: 0 0 1px;
        border: 0.5em solid white;
        background: hsla(0, 0%, 93%, 1);
        transition: background 0.125s;

        &:hover {
            background: hsla(0, 0%, 80%, 1);
            transition: background 0.125s;
        }
    }
}
