$media-size: 350px;
$line-height: 21px;

.post-media {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    box-sizing: border-box;
    object-fit: contain;
}

.qtip .ex-post-excerpt {
    &-title {
        .post-info {
            color: $dim-text;

            &.id {
                color: #333;
                font-weight: bold;
            }
        }
    }

    &-body {
        max-height: $media-size;
    }

    &-preview {
        flex: 0 1;
        width: auto;
        height: auto;
        overflow: visible;
    }

    &-metadata {
        flex: 1 1;
        overflow-y: auto;
    }
}
