.ex-tag-list.ex-tag-list-inline {
    word-break: break-all;

    h1 {
        display: inline;
        font-size: 1em;
    }

    ul {
        display: inline;

        li {
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
}
